@import '../helpers/font';
@import '../helpers/colors';
@import '../helpers/responsive';

.contact{
    width: 70vw;
    box-sizing: border-box;
    background-color: $orange;
    position: absolute;
    left: 15vw;
    top: -16vh;
    padding: 8vh 6vw;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32vh;

    @media (max-width: $mobile) {
        width: 90vw;
        left: 5vw;
        flex-direction: column;
        height: fit-content;
        top: -24vh;
    }

    div{
        width: 50%;

        @media (max-width: $mobile) {
            width: 100%;
        }

        h2{
            font-size: $title-small;
            font-weight: 400;
            line-height: 100%;

            @media (max-width: $mobile) {
                text-align: center;
                font-size: 32px;
            }
        }
        p{
            font-size: $para-size;
            margin-top: 2vh;
            font-weight: 400;

            @media (max-width: $mobile) {
                text-align: center;
                font-size: 15px;
            }
        }
    }

    a{
        background: #FFFFFF;
        color: $dark;
        padding: 1.5vh 1.5vw;
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
            background : rgba(255,255,255,0.5);
            color: #FFFFFF;
        }

        @media (max-width: $mobile) {
            display: block;
            width: fit-content;
            margin: auto;
            padding: 1.5vh 3vw;
            font-size: 15px;
            margin-top: 8vh;
        }
    }
}