@import 'components/header';
@import 'components/home';
@import 'components/projects';
@import 'components/skills';
@import 'components/footer';
@import 'components/contact';

@import 'helpers/font';
@import 'helpers/colors';
@import 'helpers/responsive';


// Reset
*{
    margin: 0;
    padding: 0;
}


//Structure
header{
    width: 70vw;
    margin: auto;
    box-sizing: border-box;
    
    @media (max-width: $mobile) {
        width: 90vw;
    }
}
main{
    width: 70vw;
    margin: auto;
    box-sizing: border-box;

    @media (max-width: $mobile) {
        width: 100vw;
    }
}